In [1]:
# from google.colab import drive
# drive.mount("/content/drive")

Mounted at /content/drive

### **Importing Libraries**

In [2]:
import numpy as np
import pandas as pd
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from scipy import stats
from collections import Counter
from sklearn.decomposition import TruncatedSVD
import matplotlib.pyplot as plt


#Loading Training File
from glob import glob
import os
import pandas as pd


allColumns = [1,'forward','head_pos_x','head_pos_y','eye','gaze_pos_x','gaze_pos_y']
reqColumns = ['head_pos_x','head_pos_y','gaze_pos_x','gaze_pos_y','participant']

### **Choosing 30 vedios of each user**

In [3]:
df_array = []

for i in range(1,10):
  files = glob(f'data/Gaze_txt_files_2/p00{i}/*')
  files.sort()
  files = files[:30]

  tempDF = pd.concat( ( pd.read_csv(file,header=None, float_precision='high',names = allColumns) for file in files) , ignore_index = True)
  tempDF = tempDF.assign(participant=pd.Series(i, index=tempDF.index))
  tempDF = tempDF.loc[:, reqColumns]
  print(f"{i} particcipant have record{tempDF.shape}")
  df_array.append(tempDF)


for i in range(10,46):
  files = glob(f'data/Gaze_txt_files_2/p0{i}/*')
  files.sort()
  files = files[:30]

  tempDF = pd.concat( ( pd.read_csv(file,header=None, float_precision='high',names = allColumns) for file in files) , ignore_index = True)
  tempDF = tempDF.assign(participant=pd.Series(i, index=tempDF.index))
  tempDF = tempDF.loc[:, reqColumns]
  print(f"{i} particcipant have record{tempDF.shape}")
  df_array.append(tempDF)

dataSet = pd.concat( ( dfs for dfs in df_array) , ignore_index = True)

1 particcipant have record(32136, 5)
2 particcipant have record(32136, 5)
3 particcipant have record(26453, 5)
4 particcipant have record(26579, 5)
5 particcipant have record(32136, 5)
6 particcipant have record(26580, 5)
7 particcipant have record(26580, 5)
8 particcipant have record(26578, 5)
9 particcipant have record(26580, 5)
10 particcipant have record(29995, 5)
11 particcipant have record(26579, 5)
12 particcipant have record(26579, 5)
13 particcipant have record(29993, 5)
14 particcipant have record(30000, 5)
15 particcipant have record(26635, 5)
16 particcipant have record(26577, 5)
17 particcipant have record(26579, 5)
18 particcipant have record(26171, 5)
19 particcipant have record(26581, 5)
20 particcipant have record(26578, 5)
21 particcipant have record(26579, 5)
22 particcipant have record(26580, 5)
23 particcipant have record(34970, 5)
24 particcipant have record(26580, 5)
25 particcipant have record(26579, 5)
26 particcipant have record(28351, 5)
27 particcipant have record(26580, 5)
28 particcipant have record(26450, 5)
29 particcipant have record(26578, 5)
30 particcipant have record(26580, 5)
31 particcipant have record(29019, 5)
32 particcipant have record(26578, 5)
33 particcipant have record(34972, 5)
34 particcipant have record(26579, 5)
35 particcipant have record(29488, 5)
36 particcipant have record(26580, 5)
37 particcipant have record(26580, 5)
38 particcipant have record(29015, 5)
39 particcipant have record(29998, 5)
40 particcipant have record(26576, 5)
41 particcipant have record(26580, 5)
42 particcipant have record(27477, 5)
43 particcipant have record(26571, 5)
44 particcipant have record(26581, 5)
45 particcipant have record(26579, 5)

## Storing data from array to a csv file

In [6]:
dataSet.to_csv("data/final_data.csv", index = False)

In [9]:
dataSet = pd.read_csv("data/final_data.csv")
dataSet

         head_pos_x  head_pos_y  gaze_pos_x  gaze_pos_y  participant
0          0.500627    0.527950    0.495522    0.436755            1
1          0.501349    0.528238    0.496338    0.437171            1
2          0.501704    0.528531    0.496785    0.437861            1
3          0.501793    0.528431    0.497054    0.437900            1
4          0.502112    0.528415    0.497443    0.438079            1
...             ...         ...         ...         ...          ...
1253020    0.231066    0.523211    0.227643    0.481635           45
1253021    0.231181    0.523852    0.227663    0.482082           45
1253022    0.231258    0.524275    0.227620    0.482606           45
1253023    0.231281    0.524977    0.227025    0.485885           45
1253024    0.231277    0.525394    0.226474    0.489120           45

[1253025 rows x 5 columns]